body,
html {
    background: url('/img/background.svg');
    background-size: cover;
    height: 100%;
    margin: 0;
    font-family: 'Poppins';
    color: black;
    padding: 0 20px;
}

.wrapper {
    background-color: white;
    padding: 4rem;
}

.full-height {
    min-height: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-fill {
    flex: 1;
}

.flex-center {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 5rem;
    font-weight: 600;
    margin: 0;
    line-height: 80%;
}

p {
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.links {
    margin-top: 2rem;
    padding: 0;
    list-style-type: none;
    text-align: center;
    color: red;
}

@media screen and (min-width: 600px) {
    .links {
        display: flex;
    }

    /* Left margin accounts for the size of the separator */
    .links li:not(:last-child)::after {
        margin-left: 10px;
        margin-right: 16px;
        content: " / ";
    }
}

.links a {
    color: black;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
}